extends ../../entry/index

block title
  title Home Page
block content
  +hero(data)
  +multiple-columns-teaser(data.multipleColumnsTeaser0)
  +multiple-columns-teaser(data.multipleColumnsTeaser1)
  +accordion(data)