$white: #fff;
$black: #2c2e2f;
$grey : #f4f4f4;
$red: #b63125;
$dark-grey: #585858;

$yellow: #fdda24;
$secondary-blue: #006ba6;
$dark-blue: #003b71;
$outline-blue : #3cbcf0;
$light-blue: #92ccf0;

$darker-grey: #677083;
$orange: #de771f;